section.cta-section#contact
  .container
    .cta-content
      .cta-text
        h2.cta-title 讓我們一起合作
        p.cta-description 心裡有專案或想法嗎？你準備好了，我就準備好了。
        a.cta-button(href="mailto:help@dghm.tw") 與我聯繫
      
      .cta-image
        img.cta-illustration(src="images/figure-contactme.png", alt="聯絡我插圖")

