section.testimonials-section
  .container
    .testimonials-header
      .testimonials-tagline 客戶評價
      h2.testimonials-title 專業可靠，溝通順暢，合作愉快
      
    .testimonials-grid
      .testimonial-card
        .testimonial-stars
          span.star ★
          span.star ★
          span.star ★
          span.star ★
          span.star ★
        p.testimonial-quote 萬能數維能夠很快地理解我們的需求，並提出相應且剛好的解決方案，合作及溝通上也非常順暢，是值得信賴的合作夥伴。
        .testimonial-author
          .testimonial-avatar
            img(src="images/test01.png", alt="Jamie L.")
          .testimonial-info
            .testimonial-name Jamie L.
            .testimonial-role 新創公司主管

      .testimonial-card
        .testimonial-stars
          span.star ★
          span.star ★
          span.star ★
          span.star ★
          span.star ★
        p.testimonial-quote 專案成果既專業又有效率，而且很願意接受我們的意見並提出相應的解決方案，整個合作過程都很愉快。
        .testimonial-author
          .testimonial-avatar
            img(src="images/test03.png", alt="Rachel C.")
          .testimonial-info
            .testimonial-name Rachel C.
            .testimonial-role 新創公司合夥人

      .testimonial-card
        .testimonial-stars
          span.star ★
          span.star ★
          span.star ★
          span.star ★
          span.star ★
        p.testimonial-quote 專案的交付相當迅速，也都能及時完成所提出的需求。完全不用擔心會出什麼問題，會再次與萬能數維合作。
        .testimonial-author
          .testimonial-avatar
            img(src="images/test02.png", alt="Alan W.")
          .testimonial-info
            .testimonial-name Alan W.
            .testimonial-role 行銷經理

